<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>working</title>
</head>
<body>
<h1>Welcome to your text analyzer please input your text below:</h1>
<form action="/analyze" method="get">
   <textarea name="text" style="margin: 0px; width: 1194px; height: 187px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuation <br>
    <input type="checkbox" name="fullcaps">UPPERCASE <br>
    <input type="checkbox" name="newlineremover">New line remove <br>
    <input type="checkbox" name="spaceremover">Extra space remover <br>
    <button type="submit"> Analyze tex </button>

</form>
</body>
</html>